<!DOCTYPE html>
<html>
<head>
  <title>Polymorphic Association using Devise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation" >
	
	<%= render(:partial=>"/layouts/navbar") %>
	
	<% if notice.present? || alert.present? %>
		<p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>
    <% end %>

<%= yield %>
	
	<%= render(:partial=>"/layouts/footer") %>
	
</body>
</html>
